*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# Node & Env
node_modules/
.env

# CodeIgniter 4 Writable Runtime Directories
writable/debugbar/*
!writable/debugbar/index.html
writable/session/*
!writable/session/index.html
writable/logs/*
!writable/logs/index.html
writable/uploads/email_attachments/*
!writable/uploads/email_attachments/index.html